<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rough Suite">
    <listeners >
        <listener class-name="main.java.ExtentReport"></listener>
    </listeners>
    <parameter name="browser" value="localchrome"></parameter>
    <test name="Testing Basics">
        <classes>
            <class name="com.tcw.testcases.DashboardTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
